[Unit]
Description=Django Server
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/money/app_money/Sistema-de-Consulta-Money
Environment="PATH=/home/money/app_money/Sistema-de-Consulta-Money/venv/bin"
ExecStart=/home/money/app_money/Sistema-de-Consulta-Money/venv/bin/python /home/money/app_money/Sistema-de-Consulta-Money/manage.py runserver 192.168.18.246:8000
Restart=always
StandardOutput=file:/var/log/django.log
StandardError=file:/var/log/django-error.log

[Install]
WantedBy=multi-user.target
