/* Importa o arquivo de cores */
@import url('colors.css');

/* Importa a fonte Montserrat do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#ranking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65vw;
    height: 60vh;
    padding: 20px;
    background-image: url('/static/img/ranking/backgroud.jpg'); 
    background-size: cover;
    background-position: center;
    border: 1px solid var(--cor-cinza-claro);
    border-radius: var(--border-radius-tamanho);
    margin: 25px;
    box-shadow: 0 0 21px 0px black;
    align-items: flex-start;
    justify-content: space-between;
}

#ranking-container .box-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#ranking-container h3 {
    margin-bottom: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18pt;
    text-transform: uppercase;
}

#sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}

.container_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 8px 0;
}

.foto {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 50%;
}

.box-bar {
    flex: 1;
    overflow: hidden;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 15px;
    border-radius: var(--border-radius-tamanho);
}

.progress_bar {
    overflow: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    background-color: #70F611;
}

.container_bar p {
    margin: 0;
    color: rgb(0, 60, 11);
    font-weight: bold;
    font-size: var(--fonte-tamanho-texto);
    font-family: 'Montserrat', sans-serif;
    width: 15%;
}

p.name_colab {
    color: rgb(255, 255, 255);
}

.list-container {
    width: 65vw;
    padding: 20px;
    border: 1px solid var(--cor-cinza-claro);
    border-radius: var(--border-radius-tamanho);
    margin: 25px;
    box-shadow: 0 0 21px 0px black;
    background: rgba(255, 255, 255, 0.8); /* Background semi-transparente */
    max-height: 60vh;
    overflow-y: auto;
}

.list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--cor-cinza-claro);
}

.list-item.new {
    animation: highlight 1s ease;
}

@keyframes highlight {
    0% { background-color: yellow; }
    100% { background-color: transparent; }
}
