/* base.css */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho total do elemento */
}

/* Importando variáveis de cores */
@import url('colors.css');

/* Estilo padrão para o HTML */
html {
    font-family: var(--fonte-arial);
    font-size: var(--fonte-tamanho-texto);
    line-height: 1.6;
    background-color: var(--color-5); /* Usando cor de fundo padrão */
}

/* Estilos para o corpo da página */
body {
    min-height: 100vh; /* Garante que o corpo da página ocupe pelo menos a altura da janela visível */
    display: flex;
    flex-direction: column;
}

/* Estilos para os links */
a img {
    border: none; /* Remove borda padrão das imagens dentro dos links */
}

/* Estilos para o rodapé */
footer {
    background-color: var(--color-1); /* Usando cor principal */
    color: var(--color-3); /* Usando cor do texto */
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
