/* styles da template base.html */
@import url('colors.css');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho total do elemento */
}

/* Estilo padrão para o HTML */
html {
    font-family: var(--fonte-principal);
    font-size: var(--fonte-tamanho-texto);
    line-height: 1.6;
    background-color: var(--cor-branco-color-6);
}

/* Estilos para o corpo da página */
body {
    min-height: 100vh; /* Garante que o corpo da página ocupe pelo menos a altura da janela visível */
    display: flex;
    flex-direction: column;
}

/* Estilo para as imagens dentro dos links */
a img {
    border: none; /* Remove borda padrão das imagens dentro dos links */
}

/* Estilos para o rodapé */
footer {
    background-color: var(--color-1);
    color: var(--cor-branco);
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
