/* Importando variáveis de cores */
@import url('colors.css');

main {
    font-family: var(--fonte-principal);
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 55px 0;
}

.container-ficha {
    width: 75vw;
    margin: 20px 10px;
    padding: 10px 25px;
    box-shadow: 0 0 10px var(--cor-box-shadow);
    background-color: var(--cor-fundo-card);
    border-radius: var(--border-radius-tamanho);
    overflow-x: hidden;
}

.tabs {
    display: flex;
    border-bottom: 1px solid var(--cor-cinza-claro);
    margin-bottom: 20px;
    position: relative;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
}

.tab.active {
    font-weight: bold;
    color: var(--cor-primaria);
}

.tab-slider {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: var(--cor-primaria);
    transition: left 0.3s ease, width 0.3s ease;
}
.tabs-content-slider {
    display: none;
}
.tabs-content-slider.slick-initialized {
    display: block;
}

.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}

.slick-prev, .slick-next {
    color: #000;
    font-size: 20px;
}


.content {
    display: none;
}

.content.active {
    display: block;
}

.info-cliente {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.info-cliente .container-info {
    margin: 10px;
    box-shadow: 0 0 10px var(--cor-box-shadow);
    width: 80%;
    height: 30vh;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.info-cliente .container-info .box-info {
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-direction: row;
}

.cards {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.cards .card {
    border: 1px solid var(--cor-cinza-claro);
    padding: 10px;
    flex: 1;
    background-color: var(--cor-fundo-card);
    width: 10vw;
    height: 19vh;
    margin: 0 45px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.cards .card h3 {
    height: 25%;
    font-size: 18pt;
}

.cards .card span {
    height: 75%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto 0;
}

.cards .card span p {
    font-size: 24pt;
}

.calculator {
    margin-top: 20px;
}

.calculator label {
    display: inline-block;
    width: 150px;
}

.calculator input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid var(--cor-cinza-claro);
    border-radius: var(--border-radius-tamanho);
}

/* Estilo para a tabela de contratos */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid var(--cor-cinza-claro);
    padding: 10px;
    text-align: left;
}

table th {
    background-color: var(--cor-primaria);
    color: white;
}

table tr:nth-child(even) {
    background-color: var(--cor-fundo-tabela);
}

table tr:hover {
    background-color: var(--cor-hover-tabela);
}
