{% extends "bases/base.html" %}
{% load static %}
{% block title %}Consulta de Cliente{% endblock %}
{% block addcss_extra %}
<link rel="stylesheet" href="{% static 'consultas.css' %}">
{% endblock %}
{% block content %}
<section id="bloco-consulta">
    <h2>Consulta de Cliente</h2>
    <form action="{% url 'consulta:consulta_cliente' %}" method="post" id="formConsulta">
        {% csrf_token %}
        <label for="cpfCliente">CPF do Cliente:</label>
        <input type="text" id="cpfCliente" name="cpf_cliente">
        <button type="submit">Consultar</button>
    </form>
    <h4 class="alert-erro" style="display: none;"></h4>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var mensagem = "{{ mensagem|escapejs }}";
        if (mensagem) {
            document.querySelector('.alert-erro').textContent = mensagem;
            document.querySelector('.alert-erro').style.display = 'block';
        }
    });
</script>
{% endblock %}
