{% extends "bases/base.html" %}
{% load static %}
{% block addtitle %}
<title>Money System - Gerenciamento</title>
{% endblock %}
{% block addcss_extra %}
<link rel="stylesheet" href="{% static 'gerenciamento.css' %}">
{% endblock %}

{% block content %}
<section id="bloco-consulta">
<!-- LABELS -->
<section class="container-main">
    <div class="container">
        <h2>Recursos Humanos</h2>
        <section class="customer-logos slider">
            <div class="slide">
                <div class="gallery-cell card button-cadastro" data-modal="modal-cadastro">
                    <i class="fas fa-user"></i>
                    <p>Base Pensionistas</p>
                    <button class="button-modal">Abrir Modal</button>
                </div>
            </div>
            <div class="slide">
                <div class="gallery-cell card button-documentos" data-modal="modal-documentos">
                    <i class="fas fa-file-alt"></i>
                    <p>Base Servidores</p>
                    <button class="button-modal">Abrir Modal</button>
                </div>
            </div>
        </section>
    </div>
</section>

<!-- Modal Envio Base Pensionistas -->
<div id="modal-cadastro" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h2>Envio de Base Pensionistas</h2>
        <form id="form-upload-csv-1" action="{% url 'consulta:gerenciamento' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="csv_file" accept=".csv" required>
            <button type="submit">Enviar</button>
        </form>
        <div id="response-message-1"></div>
    </div>
</div>

<!-- Modal Envio Base Servidores -->
<div id="modal-documentos" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h2>Envio de Base Servidores</h2>
        <form id="form-upload-csv-2" action="{% url 'consulta:gerenciamento' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="csv_file" accept=".csv" required>
            <button type="submit">Enviar</button>
        </form>
        <div id="response-message-2"></div>
    </div>
</div>
</section>
{% endblock %}

{% block addjs_extra %}
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

<script>
   $(document).ready(function() {
        // Configuração do Slick Carousel
        $('.customer-logos.slider').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: false,
            autoplaySpeed: 1500,
            arrows: false,
            dots: false,
            pauseOnHover: false,
            responsive: [{
                breakpoint: 768,
                settings: {
                    slidesToShow: 2
                }
            }, {
                breakpoint: 520,
                settings: {
                    slidesToShow: 1
                }
            }]
        });

        // Script para abrir os modais ao clicar nos botões dentro dos cards
        var cards = document.querySelectorAll('.button-modal');
        var modais = document.querySelectorAll('.modal');
        var closeBtns = document.querySelectorAll('.close-btn');

        cards.forEach(function(card, index) {
            card.addEventListener('click', function() {
                var modalId = card.parentElement.getAttribute('data-modal');
                var modal = document.getElementById(modalId);
                modal.style.display = 'flex';
            });
        });

        closeBtns.forEach(function(btn) {
            btn.addEventListener('click', function() {
                modais.forEach(function(modal) {
                    modal.style.display = 'none';
                });
            });
        });

        window.addEventListener('click', function(e) {
            modais.forEach(function(modal) {
                if (e.target === modal) {
                    modal.style.display = 'none';
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function() {
        // Envio do formulário de upload de CSV via AJAX
        var formUploadCsv = document.querySelectorAll('form[id^="form-upload-csv"]');
        formUploadCsv.forEach(function(form) {
            form.addEventListener('submit', function(e) {
                e.preventDefault();

                var formData = new FormData(form);
                var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                $.ajax({
                    url: form.action,
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken
                    },
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        $('.modal').hide();
                        location.reload(); // Recarrega a página após o upload do CSV
                    },
                    error: function(xhr, status, error) {
                        alert('Ocorreu um erro ao enviar o arquivo CSV. Por favor, tente novamente.');
                    }
                });
            });
        });
    });
</script>
{% endblock %}
