{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Meta tags para configuração do documento -->
    <meta charset="UTF-8"> <!-- Define a codificação de caracteres como UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configura o viewport para dispositivos móveis -->
    
    <!-- Bloco para adicionar título específico em páginas filhas -->
    {% block addtitle %}{% endblock %}
    
    <!-- Links para arquivos de estilos locais -->
    <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon"> <!-- Define o ícone do site -->
    <link rel="stylesheet" href="{% static 'base.css' %}"> <!-- Inclui o arquivo de estilo base -->
    <link rel="stylesheet" href="{% static 'menu.css' %}"> <!-- Inclui o arquivo de estilo para o menu -->
    
    <!-- Link para estilos externos (fontes e ícones) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> <!-- Inclui ícones do Font Awesome -->
    
    <!-- Bloco para adicionar estilos extras específicos em páginas filhas -->
    {% block addcss_extra %}{% endblock %}
</head>
<body>
    <!-- Inclui o menu de navegação -->
    {% include 'partials/_menu.html' %}
    
    <main>
        <!-- Bloco para inserir o conteúdo específico de cada página -->
        {% block content %}{% endblock %}
    </main>
    
    <!-- Inclui o rodapé -->
    {% include 'partials/_footer.html' %}
    
    <!-- Bloco para adicionar scripts extras específicos em páginas filhas -->
    {% block addjs_extra %}{% endblock %}
</body>
</html>
