{% load static %}

<!-- MENU SUPERIOR GERAL -->
<nav id="menu-navbar">
    <div id="logo">
        <a href="{% url 'colab:render_ranking' %}"><img src="{% static 'logo-horizontal.png' %}" alt="Logo Money System"></a>
    </div>
    <div id="menu">
        <ul>
            {% if user.is_authenticated %}
                <!-- Itens visíveis apenas para usuários autenticados -->
                <li><a href="{% url 'consulta:gerenciamento' %}">Admin</a></li>
                <li><a href="{% url 'colab:importar_funcionarios' %}">Funcionarios</a></li>
                <li><a href="{% url 'colab:lista_registros' %}">Tabela Vendas</a></li>
            {% endif %}
            <!-- Itens visíveis para todos os usuários -->
            <li><a href="{% url 'consulta:consulta_cliente' %}">SIAPE</a></li>
            <li><a href="{% url 'colab:render_ranking' %}">Ranking</a></li>
        </ul>
    </div>
    <div id="login-logout">
        {% if user.is_authenticated %}
            <p>
                <span>{{ user.get_username }}</span> <!-- Mostra o nome de usuário -->
                <a href="{% url 'usuarios:logout' %}"><i class="fas fa-sign-out-alt"></i></a> <!-- Link para logout com ícone -->
            </p>
        {% else %}
            <p><a href="{% url 'usuarios:login' %}">Entrar</a>
        {% endif %}
    </div>
</nav>