{% load static %}

<!-- MENU SUPERIOR GERAL -->
<nav id="menu-navbar">
    <div id="logo">
        <a href="#"><img src="{% static 'logo-horizontal.png' %}" alt="Logo Money System"></a>
    </div>
    <div id="menu">
        <ul>
            <li><a href="#">Admin</a></li>
            <li><a href="#">SIAPE</a></li>
            <li><a href="#">INSS</a></li>
            <li><a href="#">LOJAs</a></li>
        </ul>
    </div>
    <div id="login-logout">
        <p><a href="#">Entrar</a> ou <a href="#">Cadastrar</a></p>
    </div>
</nav>
