{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" href="{% static 'css/usuarios/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="title">Login</div>
        <div class="subtitle">Digite seus dados para acessar.</div>
        <form action="{% url 'usuarios:login' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                {% for field in form.visible_fields %}
                <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                    <label for="{{ field.id_for_label }}" style="color:#D9D9D9; margin-bottom: 5px;">{{field.label}}</label>
                    {{ field }}
                </div>
                {% endfor %}
            </div>
            <div>
                <button type="submit" class="btn btn-success col-12" style="padding: top 5px;">Logar</button>
            </div>
        </form>
    </div>
</body>
</html>